{
  "env": {
    "testing": {
      "presets":[
        ["env", { "modules": false }],
        "react",
        "@babel/preset-env"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
      ]
    }
  }
}
