.GifCard {
  position: relative;
}

.GifCardUser {
  left: 5px;
  position: absolute;
  top: 5px;
}

.GifCardUser > img {
  height: 20px;
  width: 20px;
}

.GifCardStar {
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
}

.GifCardMain {
  width: 100%;
}
