.contentItem {
  display: inline-block;
  position:relative;
  width: 200px;
  height: 200px;
  margin: 1em;
}

.imgContent {
  width:100%;
  height:100%;
}

.favButton {
  position: absolute;
  top:0;
  right:0;
  padding: 2px 2px 0 0;
  width: 24px;
  height: 24px;
}
