.modal-button {
  width: 80px;
  height: 20px;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
  background: none;
  text-transform: uppercase;
}
.favorite {
    background-color:#1E90FF;
}

.modal-image {
    width: 180px;
    border-radius: 10px;
    margin-left: 15px;
}
.modal-button:hover {
    cursor: pointer;
}

.modal-header {
    text-align: center;
    font-family: inherit;
    text-transform: uppercase;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}