* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #0C120C;
}

.HomeView {
  padding: 1vh 1vw;
}

.SearchBar input {
  width: 100%;
  padding: 2vh 1vw;
  background: #3C6997;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
}

.SearchBar input::-webkit-input-placeholder {
  color: #000;
}

.DisplayGifs {
  padding: 3vh 1vw;
  color: #F2C812;
  display: flex;
  flex-wrap: wrap;
}

.SingleGif {
  flex-basis: 30%;
  margin: 1vh 1vw;
}