.app {
  display: block;
}

.main {
  padding: 2rem;
}

.navigation {
  padding: 2rem 0 0 0;
}

.link:any-link {
  color: #B0B0B5;
  margin: 0.25rem 0rem;
  padding: 0.5rem 1rem 0.5rem;
  text-decoration: none;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out
}

.link.active {

}

@media screen and (min-width: 32rem) {
  .app {
    display: grid;
    grid-template-areas:  "header header"
                          "aside main";
    grid-template-columns: 2fr 10fr;
  }

  .aside {
    grid-area: aside;
  }

  .main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }
}