body, html, #root {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) no-repeat;
    font-family: sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}
